#components-layout-demo-side .logo {
  height    : 32px;
  margin    : 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.site-drawer-render-in-current-wrapper {
  position     : relative;
  padding      : 48px;
  overflow     : hidden;
  text-align   : center;
  background   : #fafafa;
  border       : 1px solid #ebedf0;
  border-radius: 2px;
}

th,
td {
  text-align: left;
}

:root {
  --amplify-primary-color: #1890FF;
  --amplify-primary-tint: #108BFE;
  --amplify-primary-shade: #59AEFE;
}